<template>
  <div id="app">
    <TabNavBar @login="getUserInfo" :username="user.username" />
    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import TabNavBar from "@/components/TabNavBar.vue";
import User from "@/types/User";
import UserService from "@/services/UserService";
import emitter from "@/system/emmiter";
import AuthenticationService from "@/services/AuthenticationService";

export default defineComponent({
  name: "App",
  components: { TabNavBar },
  data() {
    return {
      user: {
        id: localStorage.id,
        username: localStorage.username,
      } as User,
    };
  },
  methods: {
    getUserInfo() {
      UserService.getUserInfo().then((response) => {
        const { username, id } = response.data;
        localStorage.id = id;
        localStorage.username = username;
        this.user.id = localStorage.id;
        this.user.username = localStorage.username;
      });
    },
    signOut() {
      AuthenticationService.signOut().then(() => {
        localStorage.clear();
        this.user.id = localStorage.id;
        this.user.username = localStorage.username;
        this.$router.push({ name: "login" });
      });
    },
  },
  mounted() {
    emitter.on("login", this.getUserInfo);
    emitter.on("sign-out", this.signOut);
  },
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
