<template>
  <div class="submit-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        v-model="exercise.name"
        name="username"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        required
        v-model="exercise.description"
        name="description"
      />
    </div>
    <div class="form-group">
      <select v-model="exercise.complexity">
        <option
          v-for="option in complexity"
          :value="option.value"
          v-bind:key="option.value"
        >
          {{ option.displayName }}
        </option>
      </select>
    </div>
    <button @click="submit" class="btn btn-success">Submit</button>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import Exercise from "@/types/Exercise";
import ExerciseService from "@/services/ExerciseService";

export default defineComponent({
  name: "exercise-form",
  data() {
    return {
      exercise: {
        id: null,
        name: "",
        description: "",
        complexity: "",
        duration: 0,
      } as Exercise,
      complexity: [],
    };
  },
  methods: {
    submit() {
      ExerciseService.createExercise(this.exercise).then((response) => {
        this.$router.push({
          name: "exercise-detail",
          params: { id: response.data },
        });
      });
    },
    fetchComplexity() {
      ExerciseService.getComplexity().then((response) => {
        console.log(response.data);
        this.complexity = response.data;
      });
    },
  },
  beforeMount() {
    this.fetchComplexity();
  },
});
</script>

<style scoped>
.form-group {
  margin-bottom: 1rem;
}
</style>
