<template>
  <div class="submit-form">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        required
        v-model="user.username"
        name="username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        required
        v-model="user.password"
        name="password"
      />
    </div>
    <button @click="login" class="btn btn-success">Login</button>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import AuthenticationService from "@/services/AuthenticationService";
import User from "@/types/User";
import emitter from "@/system/emmiter";

export default defineComponent({
  name: "login-user",
  data() {
    return {
      user: {
        id: null,
        username: "",
        password: "",
      } as User,
    };
  },
  methods: {
    login() {
      AuthenticationService.login(this.user)
        .then(() => {
          this.$router.push("/");
          emitter.emit("login");
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
  },
});
</script>
