<template>
  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
    >
      <a
        href="/"
        class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-start mb-md-0">
        <li>
          <router-link
            to="/workout-plan-template"
            class="nav-link px-2 link-dark"
            >Workout Plan Templates
          </router-link>
        </li>
        <li>
          <router-link to="/exercise" class="nav-link px-2 link-dark"
            >Create Exercise
          </router-link>
        </li>
        <li></li>
      </ul>

      <div class="col-md-3 text-end" v-if="!username">
        <router-link to="/login">
          <button type="button" class="btn btn-outline-primary me-2">
            Login
          </button>
        </router-link>
        <router-link to="/register">
          <button type="button" class="btn btn-primary">Sign-up</button>
        </router-link>
      </div>

      <div class="col-md-3 text-end" v-else>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-around mb-md-0">
          <li>
            <h4>{{ username }}</h4>
          </li>
          <li>
            <button type="button" class="btn btn-primary" @click="signOut">
              Sign-out
            </button>
          </li>
        </ul>
      </div>
    </header>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import emmiter from "@/system/emmiter";

export default defineComponent({
  name: "TabNavBar",
  props: ["username"],
  methods: {
    signOut() {
      emmiter.emit("sign-out");
    },
  },
});
</script>
