<template>
  <ul id="example-1">
    <li
      v-for="workoutPlanTemplate in workoutPlanTemplates"
      :key="workoutPlanTemplate.id"
    >
      {{ workoutPlanTemplate.name }}
    </li>
  </ul>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import WorkoutPlanTemplatesService from "@/services/WorkoutPlanTemplatesService";

export default defineComponent({
  name: "register-user",
  data() {
    return {
      workoutPlanTemplates: [],
    };
  },
  methods: {
    fetchAllWorkoutPlanTemplates() {
      WorkoutPlanTemplatesService.fetchAllWorkoutPlanTemplates()
        .then((response) => {
          const { data: workoutPlanTemplates } = response;
          this.workoutPlanTemplates = workoutPlanTemplates;
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
  },
  beforeMount() {
    this.fetchAllWorkoutPlanTemplates();
  },
});
</script>
